@import "./reset.css";
@font-face {
  font-family: "SUIT-Medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OTWelcomeRA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: teal;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "SUIT-Medium";
}
#logo {
  width: 60px;
}

/* 시작표지 카드 스타일 */
.startTitle {
  width: 300px;
  height: 580px;
  border: 2px black solid;
  border-radius: 26px;
  position: fixed;
  top: 8%;
  background-color: #fff;
}
.startTitle h2 {
  text-align: center;
  margin-top: 70px;
  font-family: "OTWelcomeRA";
}

.startTitle h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
  font-family: "OTWelcomeRA";
  margin-bottom: 38px;
}

.startTitle h3 {
  text-align: center;
  font-family: "SUIT-Medium";
  padding: 6px;
}
.caution {
  font-size: 14px;
  margin-top: 10px;
}

.startTitle .btnBox {
  position: absolute;
  bottom: 100px;
  left: 17%;
}

.last {
  margin-bottom: 20px;
}

.startTitle button {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 8px;
  background-color: tomato;
  font-family: "OTWelcomeRA";
  color: white;
  font-weight: 600;
  font-size: 20px;
}

/*질문 카드 스타일*/

.card {
  width: 300px;
  height: 580px;
  border: none;
  border-radius: 26px;
  position: fixed;
  top: 8%;
  background-color: #fff;
}

.card h1 {
  margin-top: 70px;
  text-align: center;
  font-size: 27px;
}

.textBox {
  margin-top: 20px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14ßpx;
  line-height: 34px;
}

.card .btnBox {
  position: absolute;
  top: 320px;
}

.card .btnBox button {
  position: relative;
  width: 280px;
  height: 100px;
  left: 10px;
  margin-bottom: 16px;
  top: -50px;
  border-radius: 10px;
  background-color: whitesmoke;
  border: 3px solid white;
}

.card .btnBox button :active {
  background-color: tomato;
}

/*결과 카드*/
.resultCard h1 {
  margin-top: 48px;
  font-size: 40px;
  color: tomato;
}
.resultCard h2 {
  position: absolute;
  top: 28px;
  left: 20px;
  font-size: 12px;
  color: darkgray;
}
.subTitle {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  color: teal;
}
.resultCard .textBox h3 {
  font-size: 14px;
  margin-top: -10px;
}

#dasihagi {
  width: 200px;
  height: 30px;
  position: absolute;
  bottom: 60px;
  left: 50px;
  background-color: white;
  border: none;
  font-weight: 600;
  font-size: 16px;
  color: gray;
}
#tag {
  position: absolute;
  width: 100px;
  bottom: 6px;
  left: 96px;
}

.papap {
  display: none;
}
.comment {
  position: absolute;
  bottom: -20px;
  left: 15px;
  font-size: 12px;
  color: #fff6e5;
}
